.termBox {
  width: 300px;
  height: 300px;
  background: linear-gradient(#CCCCCC, #EEEEEE);
  border: solid 2px #A3A3A3;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1em;
}

.webTermHeading {
  font-size: 1.25em;
  margin: 0px;
}

.webTerm {
  height: 100px;
  margin-top: 1em;
}

.term__dt {
  display: inline-block;
  color: #296897;
  font-weight: bold;
}

.term__dd {
  padding-top: 10px;
  font-weight: normal;
  margin: 0;

  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical
    /* 참고자료 : https://velog.io/@syoung125/CSS-text-overflow-ellipsis-%EB%91%90%EC%A4%84-%EC%9D%B4%EC%83%81-%EC%B2%98%EB%A6%AC */
}

.term__img1 {
  float: left;
  margin: 0px 20px 20px 0px;
}

.term__img2 {
  float: right;
  margin: 0px 0px 20px 20px;
}









/* .webStandards1 {
}


.webStandardsDetails1 {

}




.webStandards2 {

}

.webStandardsDetails2 {

} */